body {
	margin: 5px;
}
ol, ul {
	padding-left: 22px;
	margin: 0px;
}
li {
	margin: 10px;
}
details > summary {
	list-style: none;
	cursor: pointer;
	border: 3px solid red;
	border-radius: 3px;
	background-color: pink;
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
}
details > summary:hover {
	border-color: darkred;
	background-color: red;
}
section {
	border: 3px solid blue;
	border-radius: 3px;
	display: inline-block;
	margin: 5px;
	background-color: lightblue;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
p {
	margin: 0px;
}
button {
	position: fixed;
	top: 15px;
	right: 15px;
	width: 100px;
	height: 50px;
	border: 7px solid green;
	border-radius: 7px;
	font-weight: bold;
	font-size: x-large;
	background-color: lightgreen;
	cursor: pointer;
}
button:hover {
	background-color: limegreen;
	color: darkorange;
}
button:active {
	user-select: none;
	border-color: darkgreen;
	background-color: green;
	color: yellow;
}
